<h1>SortAbles#index</h1>
<p>Find me in app/views/sort_ables/index.html.erb</p>
<% case params[:type] %>
<% when "sortable" %>
  <%= render "sortable" %>
<% when "turbolinks" %>
  <%= render "turbolinks" %>
<% end %>
